ul {
  list-style:none;
}

.card {
  float:left;
  background-color: #440000;
  border: solid 2px #000000;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 3px;
  width: 50px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
}

th.board {
  color: #fff;
  padding: 5px;
  border-bottom: 1px solid #B0C4DE;
  border-left: 1px solid #B0C4DE;
  background: #4682B4;
  font-weight: bold;
  line-height: 120%;
  text-align: center;
}

tr.board:nth-child(2n+1) {
    background: #F0FFFF;
}

td.board {
  padding: 5px;
  border-bottom: 1px solid #B0C4DE;
	border-left: 1px solid #B0C4DE;
}
